<h1>Perks for <%= Sponsor.find(params[:sponsor_id]).name %></h1>

<%= form_tag nil, class: "form-inline", style: "margin-bottom: 10px;" do %>
  <div class="form-group">
    <%= label_tag :perk, "Perk: " %>
    <%=
      select_tag :perk,
      options_for_select(Perk.all.reject { |perk| @perks.include?(perk) }.sort_by { |perk| Perk.levels[perk.level] }.collect { |perk| ["#{perk.name} | #{perk.level.titleize}", perk.id] }),
      :include_blank => true,
      :class => "form-control"
    %>
    <%= submit_tag "Add Perk", :class => "form-control" %>
  </div>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Level</th>
    <% if current_user.admin? %>
      <th>Remove</th>
    <% end %>
  </tr>
  <% @perks.each do |perk| %>
    <tr>
      <td><%= link_to perk.name, edit_perk_path(perk) %></td>
      <td><%= perk.description %></td>
      <td><%= perk.level.titleize %></td>
      <% if current_user.admin? %>
        <td><%= link_to "Remove", remove_from_sponsor_sponsor_perk_path(params[:sponsor_id], perk), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-default" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
