<h1>Create a new Perk</h1>

<%= form_for(@perk, :html => { :class => "form-horizontal" }) do |f| %>
  <div class="form-group">
    <%= f.text_field :name, :placeholder => "Name", class: "form-control", required: true, autofocus: true  %>
  </div>
  <div class="form-group">
    <%= f.text_field :description, :placeholder => "Description", class: "form-control", required: true  %>
  </div>
  <div class="form-group">
    <%= f.label "Level: " %>
    <%= f.select :level, Perk.levels.keys.to_a.collect { |key| [key.titleize, key] }, {}, { :class => "form-control" } %>
  </div>

  <%= f.submit 'Create Perk', class: "btn btn-default" %>
<% end %>
