<h1>Users</h1>

<%= link_to "Create a new user", new_user_path %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Modify</th>
  </tr>
  <% @users.sort_by { |user| User.user_types[user.user_type] }.each do |user| %>
    <tr>
      <td><%= link_to user.full_name, edit_user_path(user) %></td>
      <td><%= user.user_type %></td>
      <td><%= user.email %></td>
      <td><%= user.phone_number %></td>
      <td>
        <% if current_user.admin? && !user.admin? %>
    			<%= link_to "Make Admin", make_admin_user_path(user.username), class: "btn btn-default", method: :patch %>
    		<% end %>
    		<% if current_user.admin? && current_user.username != user.username %>
    			<%= link_to "Delete User", user_path(user.username), class: "btn btn-default", method: :delete %>
    		<% end %>
      </td>
    </tr>
  <% end %>
</table>
