<h1>Sponsors</h1><%= link_to("Add Sponsor" , new_sponsor_path, class: "btn btn-primary") %>


  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Fiscal Month</th>
      <th>Active</th>
      <th>Notes</th>
      <th>Logo Uploaded?</th>
    </tr>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= link_to(sponsor.name, sponsor_path(sponsor)) %></td>
        <td><%= sponsor.fiscal_year_start_month %></td>
        <td><%= sponsor.active %></td>
        <td><%= sponsor.notes %></td>
        <% if sponsor.logo != nil %>
        	<td><a href="<%= sponsor.logo %>">Yes</a></td>
        <% else %>
        	<td>No</td>
		<% end %>
      </tr>
    <% end %>
  </table>