<h1 class="pull-left">Sponsors</h1>
<%= link_to("Add New" , new_sponsor_path, class: "btn btn-primary pull-right", style: "margin-top: 25px;") %>
<div style="clear:both;"></div>


<div style="margin-top:10px; margin-bottom: 20px;">
  <%= form_tag do %>
    <%= select_tag :level, options_for_select(Pledge.levels.keys.to_a), :include_blank => true %>
    <%= select_tag :status, options_for_select([["Active",true],["Inactive",false]]), :include_blank => true %>
    <%= submit_tag "Filter", class: "btn btn-primary" %>
  <% end %>
</div>


  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Primary Assignee</th>
      <th>Logo Uploaded?</th>
      <th>FY Start Month</th>
      <th>Notes</th>
    </tr>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= link_to(sponsor.name, sponsor_path(sponsor)) %></td>
        <td><% if sponsor.active %><i class="fa fa-check" aria-hidden="true"></i><% else %><i class="fa fa-times" aria-hidden="true"></i><% end %></td>
        <% if sponsor.primary_assignee != nil %>
          <td><%= sponsor.primary_assignee.full_name %></td>
        <% else %>
          <td><None>
        <% end %>        
        <% if sponsor.logo != nil %>
          <td><a href="<%= sponsor.logo %>">Yes</a></td>
        <% else %>
          <td>No</td>
        <td><%= sponsor.fiscal_year_start_month %></td>
        <td><%= sponsor.notes %></td>        
		<% end %>
      </tr>
    <% end %>
  </table>