<%= form_for(@sponsor, :html => { :class => "form-horizontal" }) do |f| %>
  <div class="form-group">
    <%= f.text_field :name, :placeholder => "Sponsor", class: "form-control", required: true, autofocus: true  %>
  </div>
  <div class="form-group">
    <%= f.text_area :notes, :placeholder => "Notes", class: "form-control", required: true  %>
  </div>
  <div class="form-group">
  	<label>
  		Check if active: <%= f.check_box :active %>
  	</label>
 	</div>
  <div class="form-group">
    <%= f.text_field :inactive_reason, :placeholder => "If inactive, why?", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.number_field :fiscal_year_start_month, :placeholder => "Fiscal Year Start Month", class: "form-control"  %>
  </div>
<div class="form-group">
  <%= f.submit 'Sign Up', class: "btn btn-default" %>
  </div>
<% end %>