<!DOCTYPE html>
<html>
  <head>
    <title>HackOHI/O Sponsor Portal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= render :partial => "layouts/header" %>
    <div class="container">
      <%= render :partial => "layouts/flashes" %>
      <%= yield %>
    </div>
    <h1>Sponsor Portal</h1>
    <div id="city-footer">
    </div>
    <%= render :partial => "layouts/footer" %>
  </body>
</html>
